[submodule "pokemon-tcg-data"]
	path = pokemon-tcg-data
	url = https://github.com/PokemonTCG/pokemon-tcg-data.git
	branch = master
[submodule "cards-database"]
	path = cards-database
	url = https://github.com/tcgdex/cards-database.git
	branch = master
